.ab1{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.aboutus-body{
     padding:0 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(245, 242, 236);
    text-align: center;
    margin-top: 3.9rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
    margin-right: 1rem;
    width: fit-content;
}


.favour{
width: 9rem;
float: left;
margin: 3px;
border-radius: 50%;
}

h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3{
    padding-bottom: 0.5rem;
}

.article{
    margin-bottom: 2rem;
    max-width: 60rem;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction :column;
}

.socials div{
    margin-bottom: 1rem;
}