.bm1{
    width: 100%;
    display: grid;
    align-items: center;
    height: 80vh;
    justify-content: center;
    
}

.bm{
    display: flex;
    flex-direction: column;
    color: rgb(245, 242, 236);
    justify-content: center;
    align-items: center;
    padding:0  2rem;
    margin-top: 3.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    max-width: 50rem;
}

ul{
    margin-bottom: 1rem;
}